.upper-container{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}




.card2{
    padding-top: 100%; 
    position: relative;
    background-color: #009688;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.1s;
}

.card2.matched {
    background-color: #4caf50;
    cursor: default;
}

.card2.flipped {
    background-color: #fff;
    color: #000;
    cursor: default;
    transform: rotateY(180deg);
}

.card2 > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message {
    margin-top: 20px;
    font-size: 18px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #004d40;
}


.puzzleimg1{
    background-color: white;
    border-radius: 30px;
    margin-top:10px;   

}
.puzzle-game-intro{
    text-align: justify;
    margin-inline-start: 30px;
    font-size: large;
    font-weight: 400;
}
.second{
    border-radius:30px;
    background-color: #b88080;
}
.second:hover{
    background-color: #6b7e7b;
}

